body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fffcfc;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 30px;

  }
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #325c5a;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: rgb(247, 242, 242);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1a1919;
}


.cart-icon-container {
  position: relative;
}

.cart-icon {
  width: 24px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 70%;
  padding: 5px;
  font-size: 12px;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 90%;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: #325c5a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #518f8c;
}

h3 {
  color: #325c5a;
}



.total-container label {
  font-weight: bold;
}

.modal {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-left: 660px;
}

table {
  width: 80%;
  max-width: 800px;
}

.total-container {
  width: 100%;
  max-width: 800px; 
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 350px;
  margin: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: scale(1.05);
} 

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: calc(100% - 20px);
  }
}